In [1]:
# kNN (k-Nearest Neighbor) Algorithm
# 벡터 공간 내에서, 최단 거리의 이웃 데이터 개수에 따라 임의의 데이터를 이진 및 다중 분류하는 알고리즘
# ex) 서울 어느 한 지점에 서서 현 위치가 강남인지 강북인지 분류(예측)하기 위해서
# 주변 행인 5명한테 물어보니, 4명이 강남 1명이 강북이라 대답하여 강남으로 예측하는 기법

# kNN의 k는 예측을 위해 주변 몇 개의 이웃 데이터를 참고할지를 결정
# 따라서 가장 정확도가 높은 k 값을 선정하는 것이 과제

# NBA 농구 선수들의 게임 데이터를 활용한 포지션 예측
import pandas as pd

df = pd.read_csv("basketball_stat.csv")
df.head()

           Player Pos   3P   2P  TRB  AST  STL  BLK
0    Alex Abrines  SG  1.4  0.6  1.3  0.6  0.5  0.1
1    Steven Adams   C  0.0  4.7  7.7  1.1  1.1  1.0
2   Alexis Ajinca   C  0.0  2.3  4.5  0.3  0.5  0.6
3  Chris Andersen   C  0.0  0.8  2.6  0.4  0.4  0.6
4     Will Barton  SG  1.5  3.5  4.3  3.4  0.8  0.5